body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
}
.contenedor{
perspective: 250px;
width: 300px;
height: 150px;
position: relative;
}
.tarjeta{
width: 50px;
height: 100px;
background-color: #1d1d01;
font-size: 40px;
position: absolute;
top: 35px;
left: 125px;
border-radius: 8px;
text-align: center;
cursor: pointer;
animation: Carrusel 8s linear infinite;

}

@keyframes Carrusel{

from {
transform: rotateY(360deg)
translateZ(100px);
z-index: 10;
opacity: 0.9;
}
50%{
z-index: -10;
}
to{
transform: rotateX(0deg)
translateZ(100px);
}
}
#pico{
    background-image:
    url(img/pico.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: -1s;
}
#pico:hover{
    box-shadow: 0px 0px 10px
    blue;
}
#hex{
    background-image:
    url(img/hex.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: -2s;
}
#hex:hover{
    box-shadow: 0px 0px 10px
    blue;
}
#tabi{
    background-image:
    url(img/tabi.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: -3s;
}
#tabi:hover{
    box-shadow: 0px 0px 10px
    blue;
}
#tank{
    background-image:
    url(img/tank.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: -4s;
}
#tank:hover{
    box-shadow: 0px 0px 10px
    rgb(45, 45, 104);
}
#cassette{
    background-image:
    url(img/cassette.jpg);
    background-size: cover;
    background-position: center;
    animation-delay: -5s;
}
#cassette:hover{
    box-shadow: 0px 0px 10px
    rgb(30, 30, 109);
}
.tarjeta h3{
color: white;
font-size: 5px;
font-family: 'Franklin Gothic Medium',
'Arial Narrow', Arial, sans-serif;
margin-top: 70px;
background-color: #00c3ff;
}